.section {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    margin: 24px;
    height: 80vh;
    padding: 40px 80px;
}

.userCard {
    width: 500px;
    background-color: white;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.userCard>img {
    width: 35%;
}