.container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: lightblue;
}

.link {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.link:hover {
    color: tomato;
}