.container {
    background-color: darkblue;
    color: white;
    padding: 24px 32px;
    margin: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container p {
    font-weight: bold;
    font-size: large;
}