/* ОН БУДЕТ ТОЛЬКО РАБОТАТЬ НА ЭТОМ КОМРОНЕНТЕ*/

.container {
    background-color: tomato;
    padding: 24px;
    margin: 28px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 312px;
}