.container {
    background-color: lightcyan;
    color: brown;
    margin: 24px 32px;
    padding: 24px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.male {
    background-color: lightblue;
}

.female {
    background-color: lightpink;
}